@model IEnumerable<Stilosoft.Model.Entities.Cita>

@{
    ViewData["Title"] = "Citas";
}
<hr>
<section class="content pt-3 pl-3 pr-3">
    <p>
        @*<a onclick="mostrarModalG('@Url.Action("Crear","Citas","null",Context.Request.Scheme)','Registrar cita')" class="btn btn-success"> Crear cita</a>*@
        <a asp-action="Crear" asp-controller="Citas" class="btn btn-success"> Crear cita</a>
    </p>
    <table class="table table-bordered" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoCita.Nombre)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nombre) @Html.DisplayFor(modelItem => item.Cliente.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoCita.Nombre)
                    </td>
                    @if(item.EstadoCitaId == 1)
                    {
                    <td>
                        <a asp-controller="Citas" asp-action="citaEstados" asp-route-citaId="@item.CitaId" asp-route-estadoId="2" class="btn btn-primary"><i class="fas fa-spinner"></i></a>
                        -|- <a asp-controller="Citas" asp-action="citaEstados" asp-route-citaId="@item.CitaId" asp-route-estadoId="3" class="btn btn-success"><i class="fas fa-check-circle"></i></a>
                        -|- <a asp-controller="Citas" asp-action="citaEstados" asp-route-citaId="@item.CitaId" asp-route-estadoId="4" class="btn btn-danger"><i class="fas fa-times-circle"></i></a>
                    </td>
                    }else if(item.EstadoCitaId == 2)
                    {
                    <td>
                        <a asp-controller="Citas" asp-action="citaEstados" asp-route-citaId="@item.CitaId" asp-route-estadoId="3" class="btn btn-success"><i class="fas fa-check-circle"></i></a>
                    </td>
                    }else if(item.EstadoCitaId == 3)
                    {
                    <td>
                        Cita finalizada
                    </td>
                    }else if (item.EstadoCitaId == 4)
                    {
                    <td>
                        Cita cancelada
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</section>

@section Scripts{

    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>
    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Crear")) { <text>
                  alertify.alert('Crear cita', '@TempData["Mensaje"]', function () { alertify.success('Cita creada'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
        alertify.alert('Error', '@TempData["Mensaje"]'});
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarEstado")) { <text>
        alertify.success('Estado cambiado correctamente.');
                 </text>
        }
    </script>
}