@model IEnumerable<Stilosoft.Model.Entities.Empleado>

@{
    ViewData["Title"] = "Empleado";
}
<hr>
<section class="content pt-3 pl-3 pr-3">
    <p>
        <a asp-action="Crear" asp-controller="Empleados" class="btn btn-success"> Crear empleado</a>
    </p>
    <table class="table table-bordered" id="tabla">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Documento</th>
                <th>Edad</th>
                <th>Servicios</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Documento)
                    </td>
                    <td>
                        @( DateTime.Now.Year - item.FechaNacimiento.Year )
                    </td>
                    <td>
                        <a onclick="mostrarModalS('@Url.Action("DetalleEmpleado","Empleados", new {id = item.EmpleadoId}, Context.Request.Scheme)', 'Empleado servicios')" class="btn btn-info"><i class="fas fa-cut"></i> </a>
                        -|- <a asp-controller="Empleados" asp-action="Editar" asp-route-id="@item.EmpleadoId" class="btn btn-dark"><i class="fas fa-edit"></i> </a>  
                        -|- <a onclick="mostrarModalG('@Url.Action("ListaServiciosEmpleado","Empleados", new {id = item.EmpleadoId}, Context.Request.Scheme)', 'Eliminar servicio empleado')" class="btn btn-danger"><i class="fas fa-trash-alt"></i> </a>
                    </td>
                    <td>
                        @if (item.Estado == true)
                        {
                            <form asp-action="EditarEstado" asp-route-id="@item.EmpleadoId">
                                <button type="submit"><i class="fas fa-toggle-on"></i></button>
                            </form>
                        }
                        else if (item.Estado == false)
                        {
                            <form asp-action="EditarEstado" asp-route-id="@item.EmpleadoId">
                                <button type="submit"><i class="fas fa-toggle-off"></i></button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@section Scripts{

    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>
    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Crear")) { <text>
                  alertify.alert('Guardar empleado', '@TempData["Mensaje"]', function () { alertify.success('Empleado guardado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
        alertify.alert('Error', '@TempData["Mensaje"]'});
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Editar")) { <text>
        alertify.alert('Editar empleado', '@TempData["Mensaje"]', function () { alertify.success('Empleado editado'); });
                 </text>
        }
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarEstado")) { <text>
        alertify.success('Estado cambiado correctamente.');
                 </text>
        }
    </script>

}